/* stilizimi i tekstit*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  background-color:#FAFAFA;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.2em;
  border-bottom: solid 1px #999999;
  margin-bottom: 0.5em;
}
section {
background-color: #FAFAFA;
}
article {
background-color: #FAFAFA;
}
nav#topnav {
  font-size: 0.6em;
  text-align: right;
  padding-bottom: 18.2px;
  color: #999999;
  background-color: #EDEDED;
  padding-right: 18px;
}
nav#topnav ul li {
  list-style: none;
  display: inline;
  padding-top: 10px;
}
.input_box {
background-color: grey;
border-radius: 25px;
border: none;
margin-top: 0.9em;
}
.fas fa-chevron-circle-right {
  margin-right: 10px;
}
nav#topnav a {
text-decoration: none;
padding-right: 5px;
padding: 0.2em;
color: #9f9f9f;

}
.nav2 {
  background-color: #FAFAFA;
}
.nav2 p {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 1.5em;
}
.navbar .dropdown {  
  background-color: #FAFAFA;
}
.navbar {
  padding-right: 20px;
}

.navbar a {
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  float: right;
}
.scndh {
  display: inline-block;
  background-color: #FAFAFA;
}
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: black;
  padding: 10px 10px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:#ff5d30;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "mainbox box1 box2 box3" 
                       "mainbox box4 box5 box6";
  align-content: center;

}
.shadow {
-webkit-box-shadow: 0 8px 7px -6px black;
   -moz-box-shadow: 0 8px 7px -6px black;
        box-shadow: 0 8px 9px -6px black;
}
.figmain1 {
border-radius: 50%;
border: 13px solid #e2e2e2;
position: relative;
width: 200px;
height: 200px;
top: 60%;
left: 28.5%;
z-index: 1;
}
.figmain2 {
border-radius: 50%;
border: 13px solid #e2e2e2;
width: 270px;
height: 270px;
position: absolute;
top: 129px;
left: 40%;
z-index: 2;
}
.figmain3 {
border-radius: 50%;
border: 13px solid #e2e2e2;
position: relative;
width: 200px;
height: 200px;
top: 60%;
left: 40.5%;
z-index: 1;
}
.fade_rule {
height: 1px;
background-color: #E6E6E6;
width: 65.0em;
text-align: center;
margin: 0 auto;
background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
}
article {
padding-top: 30px;
}
.c23 {
  margin-left: 10px;
}
figure {
padding-top: 20px;
}
.fade_rule p {
padding-top: 14px;
padding-bottom: 10px;
font-size: 1.3em;
}
#mainbox {
  grid-area: mainbox;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  
}
#box1 {
  grid-area: box1;
  padding-top: 10px;
  padding-left: 25px;
}
#box2 {
  grid-area: box2;
  padding-top: 10px;
}
#box3 {
  grid-area: box3;
  padding-top: 10px;
}
#box4 {
  grid-area: box4;
  padding-top: 10px;
  padding-left: 25px;
}
#box5 {
  grid-area: box5;
  padding-top: 10px;
}
#box6 {
  grid-area: box6;
  padding-top: 10px;
}
#fotot { 
color: red;
text-decoration: none;
}
footer{
  margin-top:2%;
  padding-bottom: 3%;
  background-color: #EDEDED;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box1 box2 box3";
  height: 310px;
  
}
.about{
  text-align: center;
  grid-area: box1;
  padding: 0 0 0 20px;
}
.about h1,.contact h1{
  text-align: left;
  padding-top: 20px;
  font-size: 1.5em;
  color: #666666;
}
.about p{
  margin: 5% 0%;
  text-align: left;
  color: #666666;
}
.about h3{
  text-align: left;
  font-weight: lighter;
  color:#666666 ;
}
.about table {
  text-align: left;
}
.about table tr td {
  padding: 0 20px 20px 0;
}
.about table tr td img {
  border-radius: 50%;
  position: relative;
  top: 5px;
}
.about table tr td a {
  text-decoration: none;
  color: black;
}
.contact{
  padding-left: 30px;
  text-align: center;
  grid-area: box2;
}
.contact p{
  margin: 3% 0%;
  text-align: left;
  font-style: italic;
  color: #666666;
}
.contact h4 {
  text-align: left;
  margin-top: 8px;
  font-size: 0.8em;
  font-weight: 700; 
  color: #666666;
  padding-top: 3px;
}
.contact span{
  text-decoration: underline;
  color:#666666;
}
.contact span:hover{
  color:red;
  font-weight: bold;
}
.contact a{
  text-decoration: none;
  float: right;
  font-size: 0.8em;
  color: red;
}

.myButton {
	box-shadow: 0px 0px 0px 1px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-left: -110px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
.input1 {
  box-shadow: 0px 0px 0px 1px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  float: left;
}
.twitter{
  text-align: center;
  grid-area: box3;
  padding: 0 11px 0 29px;
}

.twitter h1 {
  text-align: left;
  padding-top: 20px;
  font-size: 1.5em;
  color: #666666;
}
.twitter p{
  margin: 5% 0%;
  text-align: left;
  color: #666666;
  font-size: 0.9em;
}



